
<div class="row mt-5 mb-4">
    <div class="col-md-12">
        <div class="card shadow text-black bg-light">
            <div class="card-header">MG university Students</div>
            <div class="card-body">
                <h5 class="card-title">Students</h5>
                <p class="card-text">College Student Module. View, Edit and Delete Students. The backend is Nodejs
                     MongoDB Database</p>
                <a href="#" routerLink="students" class="btn btn-maincolor shadow">Students</a>
            </div>
        </div>
    </div>
</div>